button{
    margin: 1% auto;
    padding: 10px 20px;
    background-color: rgb(232, 226, 220);
    border-radius: 10px;
    font-weight: 1000;
    box-sizing: border-box;
}

button:hover{
    cursor: pointer;
    background-color: rgb(24, 24, 53);
    color: aliceblue;
}
 
body{
    background-color: rgb(42, 42, 75);
    justify-content: center;
    align-items: center;
   
}

.container{
    display: flex;
    justify-content: center;
}

.bc{
    text-align: center;
    background-color: rgb(60, 79, 117);
    height: 250px;
    width: 20%;
    padding: 10px 20px;
    border: 5px solid rgb(69, 88, 126);
    border-radius: 25px;
    
}

.box{
    display: flex;
    justify-content: right;
    margin: 2% auto;
    background-color: rgb(60, 79, 117);
    width: 25%;
    height: 80px;
    border-color: none; 
    align-items: right;
    margin-top: -3%;
    border-radius: 25px;
}

.result{
    text-align: right;
    font-weight: 1000;
    font-size: 40px;
    margin: 5%;
    color: aliceblue;
}


.equal{
    background-color: brown;
    padding: 10px 40px;
}

.reset{
    color: aliceblue;
    background-color: rgb(101, 101, 129);
    padding: 10px 30px;
}

.del{
    color: aliceblue;
    background-color: rgb(101, 101, 129);
    padding: 10px 10px;
}

.header{
    display: flex;
    justify-content: left;
    margin: 2% auto;
    width: 25%;
    height: 80px;
    border-color: none; 
    align-items: left;
    margin-bottom: -3%;

}


pre{
    text-align: left ;
    color: aliceblue;
}


